@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Bangers);
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: radial-gradient(
            circle,
            transparent 20%,
            #e5e5f7 20%,
            #e5e5f7 80%,
            transparent 80%,
            transparent
        ),
        radial-gradient(
                circle,
                transparent 20%,
                #e5e5f7 20%,
                #e5e5f7 80%,
                transparent 80%,
                transparent
            )
            25px 25px,
        linear-gradient(#459df7 2px, transparent 2px) 0 -1px,
        linear-gradient(90deg, #459df7 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

li {
    list-style-type: none;
}
/*---------------------------------------------------------------------*/
input {
    border-radius: 1vh;
    border-style: none;
    font-size: 16px;
    text-align: center;
    height: 36px;
    width: 50vh;
    margin-left: 3%;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    text-align: center;
    opacity: 0;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
    transform: translateY(-75%);
    overflow: hidden;
}
.search-dropdown {
    display: flex;
    flex-direction: row;
}
.drop-down {
    background-color: lavender;
    border-radius: 1vh;
    border-style: none;
    cursor: pointer;
    height: 36px;
    width: 125px;
    font-size: 16px;
    color: darkslategray;
    font-weight: bolder;
    text-align: center;
    transition: height 0.4s ease-in-out;
}
select:focus {
    outline: none;
}

/*--------------------------------------------------------------------*/
.hide-error {
    display: none;
    visibility: hidden;
}

.danger {
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    width: 20%;
    height: 10%;
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 10px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: left;
    border-left-color: #d9534f;
    background-color: rgba(255, 255, 255, 0.75);
    transition: all 0s linear 0.33s;

    animation: right-to-left 3s 2;
    animation-direction: normal;

    font-size: 24px;
}

.danger strong {
    color: #d9534f;
}

@keyframes right-to-left {
    0% {
        right: -30%;
        bottom: 0%;
    }
    25% {
        right: 0%;
        bottom: 1%;
    }
    50% {
        right: 0%;
        bottom: 1%;
    }
    75% {
        right: 0%;
        bottom: 1%;
    }

    100% {
        right: -50%;
        bottom: 0%;
    }
}

/*---------------------------------------------------------------------*/
input[type="checkbox"] {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    color: #263238;
    font-family: "Chewy";
}

.edit-icon {
    color: goldenrod;
    cursor: pointer;
}

.Container {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #263238;
    width: 35%;
    padding: 1%;
    margin: 5% auto;
    border-radius: 1vh;
    background-color: lightsteelblue;
}

.task-container {
    margin-top: 2%;
    /* background-color: #61dbfb; */
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    /* width: 70vh; */
    opacity: 1;
}

.Task-item {
    font-weight: 600;
    width: 118%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: whitesmoke;
    margin: 1% 1% 1% -14%;
    padding: 1.5% 1% 0 2%;
    border-radius: 1vh;
    opacity: 1;
}

.Task-item-done {
    opacity: 0.75;
    font-size: 16px;
    width: 118%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: whitesmoke;
    color: black;
    margin: 1% 1% 1% -14%;
    border-radius: 1vh;
    text-decoration: line-through;
    text-align: left;
    padding: 1.5% 1% 0 2%;
}

.task-text {
    max-width: 50vh;
    text-overflow: hidden;
    word-break: break-all;
    font-family: "Shadows Into Light";
}

.checked {
    color: gray;
    cursor: pointer;
}

.unchecked {
    color: green;
    cursor: pointer;
}

.editing-task-div {
    display: flex;
    flex-direction: row;
    margin: 1vh;
    align-items: center;
    justify-content: center;
}

.editing-task {
    font-size: 16px;
    text-align: left;
    height: 4vh;
    width: 100%;
    background-color: lightgray;
    padding-left: 2%;
}
.save-btn {
    background-color: lightgray;
    margin-left: 1vh;
    border-style: none;
    border-radius: 50vh;
    height: 4vh;
    width: 10vh;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s;
}
.save-btn:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

.delete-icon {
    color: crimson;
    cursor: pointer;
}
.delete-icon-done {
    color: gray;
    cursor: pointer;
}

.addtask-icon {
    color: orangered;
    cursor: pointer;
    margin-left: -6.5%;
    background-color: white;
    border-radius: 15%;
    zoom: 1.5;
}

.input {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 900px) {
    .Container {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #263238;
        width: 80%;
        padding: 1%;
        margin: 15% auto;
        border-radius: 1vh;
    }

    input {
        width: 100%;
    }
    input:focus {
        width: 100%;
        outline: none;
    }
    .Task-item {
        font-weight: 600;
        width: 113%;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .Task-item-done {
        font-weight: 600;
        width: 113%;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .danger {
        width: 75%;
        height: 5%;
        font-size: 18px;
        text-align: center;
        padding-bottom: 10%;
        transition: all 0s linear 0.33s;
        animation: right-to-left 3s 2;
        animation-direction: normal;
    }
    @keyframes right-to-left {
        0% {
            right: -50%;
            bottom: 0%;
        }
        25% {
            right: 0%;
            bottom: 0%;
        }
        50% {
            right: 0%;
            bottom: 0%;
        }
        75% {
            right: 0%;
            bottom: 0%;
        }

        100% {
            right: -100%;
            bottom: 0%;
        }
    }
}
